@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

// h1 {
//     color: $text-color;

// }
.navbar{
    background-color: aqua;
    a{
        color: white;

    }
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(orange, gold);
    -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: brown;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

i{
    cursor: pointer;
}

.nav-link.active {
    font-weight: bold;
    color: greenyellow!important;
    //border: 2px solid greenyellow ;
}


form{
    margin-left: 10px;
}


.framed{
    border: 10px solid;
    border-image: linear-gradient(45deg,red,blue) 10;
    img{
        min-width: 100%;
    }
}


.dropdown-item{
    color: blue!important;
    &:hover{
        background-color: aqua;
        color: white;
    }
}


